@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --neutral: #000000;
    --white: #ffffff;
    --black: #000000;

    --background: #2b2b2b;
    --foreground: #333333;
    --disabled: #787878;
    --enabled: #afafaf;
    --text: #ffffff;
    --primary: #3092f0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --neutral: #000000;
    --white: #ffffff;
    --black: #000000;

    --background: #2b2b2b;
    --foreground: #333333;
    --disabled: #787878;
    --enabled: #afafaf;
    --text: #ffffff;
    --primary: #3092f0;
  }
}

[data-theme='light'] {
  --neutral: #000000;
  --white: #ffffff;
  --black: #000000;

  --background: #ffffff;
  --foreground: #333333;
  --disabled: #787878;
  --enabled: #afafaf;
  --text: #000000;
  --primary: #3092f0;
}

[data-theme='dark'] {
  --neutral: #000000;
  --white: #ffffff;
  --black: #000000;

  --background: #2b2b2b;
  --foreground: #333333;
  --disabled: #787878;
  --enabled: #afafaf;
  --text: #ffffff;
  --primary: #3092f0;
}

@layer components {
  * {
    transition: background-color 0.5s ease, filter 0.3s ease;
  }

  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    background-color: var(--background);
    color: var(--text);
  }
}
